header {
    background-image: url("https://rok4.github.io/assets/images/bandeau.png");
    background-position: top center;
    background-repeat: round;
}

.md-header__topic {
    color: black;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white;
}

.md-tabs {
    background-color: #fff0;
    color: black;
    font-weight: bold;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white;
}

iframe {
    width: 100%;
    height: 700px;
    border:none;
}

#version_menu {
    position: absolute;
    margin-top: -40px;
}

#version_menu > a::before {
    content: "➔";
    padding-left: 30px;
}